


















































#home
{
    min-height: 100dvh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--background);
    position: relative;
}

.home-intro
{
    /* Anchoring */
    position: relative;


    /* Container size */
    padding: 23vh 0;
    align-self: center;
    margin-top: -3vh; 
    width: 70vw;
    border-radius: 20px;


    /* Colour */
    background-color: rgb(227, 237, 240);  /* Color change required */
}

.home-image
{
    /* Positioning */
    position: absolute;
    bottom: -5px;
    right: 20px;
}


/* Home-texts */

.home-text
{
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.home-intro-1
{
    margin: 5rem 0 0 3rem;
    font-size: 3.5em;
    font-weight: 570;
}

.home-intro-2
{
    margin: 1rem 0 0 5rem;
    font-size: 2em;
    font-style: italic
}

.home-intro-3
{
    margin: 0.8rem 0 0 5rem;
    font-size: 2em;
    font-style: italic;
}



/* Home bottom Padding * >>>>> NEED TO IMPROVE */

.home-footer
{
    height: 5vh;
    width: 8vw;
    margin-top: 2vh;
    background-color: rgb(227, 237, 240);
    border-radius: 10px;
    padding: 0 2rem;


    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.footer-github
{
    color: black;
    font-size: 20px;
    width: 25px;
}

.footer-linkedin
{
    width: 25px;
    color: black;
    font-size: 25px;
}

.footer-location
{
    line-height: 1;
    font-size: 25px;
    width: 25px;
}

/* END OF Home bottom Padding * >>>>> NEED TO IMPROVE */

#home
{
    border-bottom: 2px solid black; 
}
