/* Navigation Bar */
/* 1. top-bar-menu */

.top-bar-menu
{
    /* Positioning */
    position: absolute;
    left: 1.5rem; 
    right: 1.5rem;
    top: 1.5rem;
    width: auto;
    
    z-index: 999;

    /* Basic Styling */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Color */
    background-color: var(--navbar); /*Color change required*/
    color: white;

    /* Sizing */
    padding: 0.75rem 2rem;
    border-radius: 20px;
    box-shadow:  0px 3px 5px -2px rgba(0,0,0,0.72);
}

.top-bar-logo
{
    /* Positioning */
    margin-right: auto;
    line-height: 1;

    /* Text-features */
    text-decoration: none;
    color: var(--button);
    font-weight: 600;
    font-size: 1.5rem;
}

.top-bar-link 
{
    /* Positioning */
    position: relative;
    display: inline-flex;
    align-items: center;

    /* Gap */
    padding: 0.3rem 1rem;

    /* Text-features */
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1;
    color: var(--normaltext);
}

/* Navigation Bar content-hover-effect */

.top-bar-link::after
{
    content: '';
    position: absolute;

    /* Circle-thing */
    inset: 1.8px 10px;
    background-color: grey; /*Color change required*/
    border-radius: 20px;
    
    /* Animation */
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
}

.top-bar-link:hover::after
{
    /* Circle */
    opacity: 1;
    transform: scale(1);
}


.top-bar-link:hover
{
    /* Text */
    color: whitesmoke; /*Color change required*/
}

/* 2. side-bar-menu */

.side-bar-menu
{
    /* Positioning */
    position: fixed;
    top: 1.5rem; 
    bottom: 1.5rem;
    left: 1.5rem;
    height: auto;
    width: 50px; /* expanded is 85px */
    z-index: 999;

    /* Animation line */
    transition: width 0.3s ease 0.3s, transform 0.3s ease;
    transform: translateX(-100px);
    pointer-events: none;  /* Disable interactions when hidden */

    
    /* Basic Styling */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;

    /* Color */
    background-color: var(--navbar); /*Color change required*/

    /* Sizing */
    
    border-radius: 20px;
    box-shadow:  0px 3px 5px -2px rgba(0,0,0,0.72);
}

.side-bar-media {
    display: flex;
    align-items: center;      
    justify-content: flex-start;
    gap: 20px;            
    margin: 13px;
    text-decoration: none;
    min-width: 25px;
}

.github
{
    margin-top: auto;
    gap: 0px;
}

.linkedin
{
    margin-top: -4vh;
}

.side-bar-link {
    width: 100%;
}

.side-bar-main-logo 
{
    margin-bottom: auto;
    margin-top: 2vh;
    font-size: 25px;
    color: var(--button); /* Color change required */
    min-width: 25px;
}


.side-bar-logo {
    font-size: 25px;            
    text-align: center;
    color: var(--button); /* Color change required */
    min-width: 25px;
    
}

.side-bar-text {
    white-space: nowrap;
    text-align: left;
    opacity: 0;
    transition: opacity ease 0.15s 0.2s;

    color: var(--boldtext); /* Color change required */
    font-weight: 600; /* Font change required */
}


/* Side-bar Hover Animation */

.side-bar-menu:hover
{
    width: 140px;
    transition-delay: 0s;
}

.side-bar-menu:hover .side-bar-text
{
    opacity: 1;
}


/* Navigation Bar Animation between sections */
.side-bar-menu.visible
{
    transform: translateX(0);
    pointer-events: auto;  /* Enable interactions when visible */
}

/* Top-bar animations */
.top-bar-menu
{
    transition: transform 0.3s ease;
}

.top-bar-menu.hidden
{
    transform: translateY(-100%);
    pointer-events: none;
}